<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/blackravens.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 mb-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row fblanco negro  rounded-bottom">
            <div class="col-lg-2 d-none d-lg-block p-0">
                <img src="/IMG/fotoravens.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-2 d-lg-none p-0">
                <img src="/IMG/fotoravens-2.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-10 col-md-12 pl-2 pr-2 text-center">
                <div class="row pt-3 pb-3 border-bottom border-dark">
                    <div class="col-12">
                        <h2>Black Ravens</h2>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">Defienden la Ley Heptagonal y le deben lealtad al Príncipe Rana</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">
                            Lxs cuervos son fieles, resilientes y tolerantes. Les falta ser más prudentes y pacientes.
                        </h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">¡El morado les sienta mejor!</h5>
                    </div>
                </div>
                <div class="row pt-4 pb-4">
                    <div class="col-12">
                        <h3 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">Ley Heptagonal</h3>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">1. Respetarás las decisiones de los altos cargos.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">2. Ningún miembro acudirá solo a una misión.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">3. Nunca dejarás atrás ni abandonarás a otro miembro de la organización.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">4. Jamás traicionarás a los tuyos.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">5. Todo lo que hagas lo harás en pos del bien.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">6. Siempre protegerás aquello que se te ha encomendado.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">7. Mantendrás el secreto y nunca desvelarás tu antigua identidad.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('template/piedepagina') %>

</html>