<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/ceremonialirio.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row fblanco negro  rounded-bottom">
            <div class="col-lg-2 d-none d-lg-block p-0">
                <img src="/IMG/fotolirio.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-2 d-lg-none p-0">
                <img src="/IMG/fotolirio-2.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-10 col-md-12 text-center" style="font-weight: bold;">
                <div class="row pt-3 pb-3 border-bottom border-dark">
                    <div class="col-12">
                        <h2>Ceremonia del Lirio</h2>
                    </div>
                </div>
                <div class="row pb-3 pt-3">
                    <div class="col-12">
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                        Acto de selección que se realiza cada madrugada del 1 de enero en las instalaciones Grimm de cada país.
                        </h5>
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                        Por ejemplo, en España se hace en un laberinto mortal, en EEUU en un lago tenebroso y en Alemania en un bosque maldito.
                        </h5>
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                        Usan verdacksals musicales para diferenciar cuervos de diablos.
                        </h5>
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                            Solo los huérfanos que superan las pruebas pasan a ser lirios (futuros Absolutos).
                        </h5>
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                            Quienes no lo hagan, morirán en el laberinto.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('template/piedepagina') %>

</html>