<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/cupulagrimm.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 mb-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row fblanco negro  rounded-bottom">
            <div class="col-lg-2 d-none d-lg-block p-0">
                <img src="/IMG/fotogrimm.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-2 d-lg-none p-0">
                <img src="/IMG/fotogrimm-2.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-10 col-md-12 text-center p-0" style="font-weight: bold;">
                <div class="row w-100 m-0 pt-3 pb-3 border-bottom border-dark">
                    <div class="col-12">
                        <h2>Cúpula Grimm</h2>
                    </div>
                </div>
                <div class="row w-100 m-0 pt-3 pb-3 ">
                    <div class="col-12">
                        <h5 class=" pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                        Reunión que se realiza cada cincuenta años o en momentos extraordinarios en algún castillo antiguo de Alemania 
                        (la capital madre de las organizaciones Grimm) entre los líderes de ambas hermandades: la de Jacob Grimm y la de 
                        Wilhem Grimm, actualmente conocidas como 'Black Ravens' y 'Poison Devils'.
                        </h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                            Es el único evento en el que los superiores internacionales juran no hacerse daño para dejar su rivalidad a un lado y 
                            acordar ciertos aspectos beneficiosos para las dos organizaciones.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('template/piedepagina') %>