<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/partida.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row">

        </div>
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <h5>Opción A</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h5> Opción B</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <img src="/IMG/pordefecto-3.jpg" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8">
                        <div class="row">
                            <div class="col-12">
                                <h5>Opción C</h5>
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-12">
                               <h5>Opción D</h5>
                           </div> 
                    </div>
                    <div class="col-4">
                        <div class="row">
                            <div class="col-12">
                                <p>Nombre categoría</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h5>Nombre Jugador</h5>
                            </div>
                            <div class="col-4">
                                <h5>Tiempo</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12">
                                Puntuación actual
                            </div>
                        </div>
                        <div class="row">
                            <button id="siguiente" class="btn fondo negro" style="font-weight: bold;">Siguienete</button>
                            <button id="finalizar" class="btn fondo negro" style="font-weight: bold;">Finalizar Partida</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>

<%- include('template/piedepagina') %>

</html>