<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/poisonDevils.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 mb-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row fblanco negro  rounded-bottom">
            <div class="col-lg-2 d-none d-lg-block p-0">
                <img src="/IMG/fotopoisons.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-2 d-lg-none p-0">
                <img src="/IMG/fotopoisons-2.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-10 col-md-12 pl-2 pr-2 text-center">
                <div class="row pt-3 pb-3 border-bottom border-dark">
                    <div class="col-12">
                        <h2>Poison Devils</h2>
                    </div>
                </div>
                <div class="row pt-3">
                    <div class="col-12">
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">Defienden la Ley Pentagonal y le deben lealtad al Lobo</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">Lxs diablos son honestos tenaces y versátiles. Ser perfeccionista no lo es todo.
                            ¡Tienen que ser más flexibles!
                        </h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">El verde es su color. ¡sus enemigos sabrán lo que es el veneno!</h5>
                    </div>
                </div>
                <div class="row pt-4 pb-4">
                    <div class="col-12">
                        <h3 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;" class="pb-2">Ley Pentagonal</h3>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">1. Empoderarás a tu organización con cada uno de tus actos.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">2. El objetivo de de la misión prevalece ante todo lo demás.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">3. Jamás te relacionarás con un cuervo.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">4. En ningún momento pondrás en duda la soberanía de tus superiores.</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">5. Mantendrás el secreto y nunca desvelarás tu antigua identidad.</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('template/piedepagina') %>

</html>