<%- include('template/cabeceraInfo') %>

<link rel="stylesheet" href="/CSS/verdacksal.css">

<%- include('template/cabecerainfo2') %>

<body class="fondo p-0">
    <div class="container p-0 blanco mt-3 mb-3 movil">
        <div class="row fnegro blanco rounded-top">
            <div class="col-lg-12 col-md-12 p-0 text-center">
                <h1>TRIVIAL LOS ABSOLUTOS</h1>
            </div>
        </div>
        <div class="row fblanco negro  rounded-bottom">
            <div class="col-lg-2 d-none d-lg-block p-0">
                <img src="/IMG/fotoverdacksal.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-2 d-lg-none p-0">
                <img src="/IMG/fotoverdacksal-2.jpg" alt="" class=" w-100 h-auto">
            </div>
            <div class="col-lg-10 col-md-12 text-center" style="font-weight: bold;">
                <div class="row pt-3 pb-3 border-bottom border-dark">
                    <div class="col-12 ">
                        <h2>Verdacksal</h2>
                    </div>
                </div>
                <div class="row pt-3 pb-3">
                    <div class="col-12">
                        <h5 class="pb-2" style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">Un verdacksal es un objeto maldito, presente en cuentos y novelas clásicas,
                        además de obras cinematográficas, que famosos autores y cineastas, a través de los siglos, han relatado y archivado en sus 
                        obras: el zapatito de cristal, la manzana envenenada, la mano de Midas, la rueca de la Bella Durmiente, los zapatos rojos de Oz, 
                        la pipa de fumar de Sherlock, los hilos de Pinocho...</h5>
                        <h5 style="text-align: justify; font-weight: bold; padding-left: 15px; padding-right: 15px;">
                            Solo los Absolutos, con su don Grimm, son capaces de encontrar estos objetos, que atraen la muerte y la desgracia allá donde 
                            aparecen.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('template/piedepagina') %>

</html>