body{
    background-image: url("/IMG/verdacksal.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position:center;
}
@media screen and (max-width:991px) {
    body{
        background-image: url("/IMG/verdacksalmobile.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        background-attachment: fixed;
    }
}