<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<style>
    .fverdec{
        background-color: #60BF81;
    }
    .fverde{
        background-color: #294012;
    }
    .fmorado{
        background-color: #260126;
    }
    .fmoradoc{
        background-color: #744F8C;
    }
    .negro{
        color: #0D0D0D;
    }
    .fnegro{
        background-color: #0D0D0D;
    }
    .fblanco{
        background-color: #F2F2F2;
    }
    .blanco{
        color: #F2F2F2;
    }
    .verdec{
        color: #60BF81;
    }
    .verde{
        color: #294012;
    }
    .morado{
        color: #260126;
    }
    .moradoc{
        color: #744F8C;
    }
    .fondo{
        background-color:#C1C9D0;
    }
    .container{
        opacity: 0.9;
    }
    body{
        overflow-y: hidden;
    }
    @media screen and (max-width:991px) {
        body{
            overflow-y: scroll;
        }
    }
    *{
        margin: 0;
        padding: 0;
    }
</style>
<body class="contenedor p-0 m-0 fondo">
    <header class="container-fluid p-0">
            <% if(nombre === undefined) { %>
                <div class="row w-100 m-0 pt-2 pb-2 fblanco cabecera">
                    <div class="col-12 d-none d-xxl-flex d-xl-flex d-lg-flex d-md-none d-sm-none flex-row justify-content-evenly align-items-center p-0">
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 50px; height: 50px;"></a>
                        <button id="inicio" class="btn fblanco negro" style="font-weight: bold;">Inicio</button>
                        <button id="iniciars" class="btn fblanco negro" style="font-weight: bold;">Iniciar Sesión</button>
                        <button id="registrar" class="btn fblanco negro" style="font-weight: bold;">Registrar</button>
                        <button id="ranking" class="btn fblanco negro" style="font-weight: bold;">Ranking</button>
                        <button id="contacto" class="btn fblanco negro" style="font-weight: bold;">Contacto</button>
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 50px; height: 50px;"></a>
                    </div>
                    <div class="col-12 d-xxl-none d-xl-none d-lg-none d-flex flex-row justify-content-around align-items-center p-0">
                        <div class="row w-100 m-0">
                            <div class="col-12">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <div class="container-fluid">
                                    <a class="navbar-brand" href="/"><img src="../IMG/logo.png" alt="" style="width: 40px; height: 40px;"></a>
                                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="toggler-icon top-bar"></span>
                                        <span class="toggler-icon middle-bar"></span>
                                        <span class="toggler-icon bottom-bar"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/" style="font-weight: bold;">Inicio</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/IniciarSesion" style="font-weight: bold;">Iniciar Sesión</a></li>
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Registrar" style="font-weight: bold;">Registrar</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/Ranking" style="font-weight: bold;">Ranking</a></li>
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Contacto" style="font-weight: bold;">Contacto</a></li>
                                        </ul>
                                    </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else if (nombre!=='Admin') { %>
                <div class="row w-100 m-0 pt-2 pb-2 fblanco cabecera">
                    <div class="col-12 d-none d-xxl-flex d-xl-flex d-lg-flex d-md-none d-sm-none flex-row justify-content-evenly align-items-center p-0">
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 80px; height: 80px;"></a>
                        <button id="inicio" class="btn fblanco negro" style="font-weight: bold;">Inicio</button>
                        <button id="jugar" class="btn fblanco negro" style="font-weight: bold;">Jugar</button>
                        <button id="ranking" class="btn fblanco negro" style="font-weight: bold;">Ranking</button>
                        <button id="contacto" class="btn fblanco negro" style="font-weight: bold;">Contacto</button>
                        <a id="cerrar" href='/CerrarSesion' class="btn fblanco negro" style="font-weight: bold;">Cerrar Sesión</a>
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 80px; height: 80px;"></a>
                    </div>
                    <div class="col-12 d-xxl-none d-xl-none d-lg-none d-flex flex-row justify-content-around align-items-center p-0">
                        <div class="row w-100 m-0">
                            <div class="col-12">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <div class="container-fluid">
                                    <a class="navbar-brand" href="/"><img src="../IMG/logo.png" alt="" style="width: 40px; height: 40px;"></a>
                                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="toggler-icon top-bar"></span>
                                        <span class="toggler-icon middle-bar"></span>
                                        <span class="toggler-icon bottom-bar"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/" style="font-weight: bold;">Inicio</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/ElegirOpciones" style="font-weight: bold;">Jugar</a></li>
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Ranking" style="font-weight: bold;">Ranking</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/Contacto" style="font-weight: bold;">Contacto</a></li>
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/CerrarSesion" style="font-weight: bold;">Cerrar Sesión</a></li>
                                        </ul>
                                    </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            <% } else if (nombre==='Admin') { %>
                <div class="row w-100 m-0 pt-2 pb-2 fblanco cabecera">
                    <div class="col-12 d-none d-xxl-flex d-xl-flex d-lg-flex d-md-none d-sm-none flex-row justify-content-evenly align-items-center p-0">
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 80px; height: 80px;"></a>
                        <button id="inicio" class="btn fblanco negro" style="font-weight: bold;">Inicio</button>
                        <button id="jugar" class="btn fblanco negro" style="font-weight: bold;">Jugar</button>
                        <button id="ranking" class="btn fblanco negro" style="font-weight: bold;">Ranking</button>
                        <button id="contacto" class="btn fblanco negro" style="font-weight: bold;">Contacto</button>
                        <a id="cerrar" href='/CerrarSesion' class="btn fblanco negro" style="font-weight: bold;">Cerrar Sesión</a>
                        <a href="/"><img src="../IMG/logo.png" alt="" style="width: 80px; height: 80px;"></a>
                    </div>
                    <div class="col-12 d-xxl-none d-xl-none d-lg-none d-flex flex-row justify-content-around align-items-center p-0">
                        <div class="row w-100 m-0">
                            <div class="col-12">
                                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                    <div class="container-fluid">
                                    <a class="navbar-brand" href="/"><img src="../IMG/logo.png" alt="" style="width: 40px; height: 40px;"></a>
                                    <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                        <span class="toggler-icon top-bar"></span>
                                        <span class="toggler-icon middle-bar"></span>
                                        <span class="toggler-icon bottom-bar"></span>
                                    </button>
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/" style="font-weight: bold;">Inicio</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/ElegirOpciones" style="font-weight: bold;">Jugar</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/Ranking" style="font-weight: bold;">Ranking</a></li>
                                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/Contacto" style="font-weight: bold;">Contacto</a></li>
                                            <li class="nav-item"><a class="nav-link" aria-current="page" href="/" style="font-weight: bold;">Cerrar Sesión</a></li>
                                        </ul>
                                    </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
    </header>