
    <pie class="p-0 m-0 w-100">
        <div class="container-fluid w-100 h-100 p-2 fblanco">
            <div class="row w-100 h-100 m-0 p-0">
                <div class="col-9 h-100 d-flex flex-column justify-content-evenly align-items-center">
                    <p style="font-weight: bold; padding-top: 2%;">Copyright Hermanas Greemwood</p>
                </div>
                <div class="col-3 h-100 d-flex flex-row justify-content-center align-items-center">
                    <a class="p-3" href="https://www.instagram.com/h.greemwood/"><i class="bi bi-instagram negro w-100"></i></a> 
                    <a href="https://twitter.com/HGreemwood"><i class="bi bi-twitter negro text-left"></i></a> 
                </div>
            </div>
        </div>
    </pie>
</body>
<script src="/JS/index.js"></script>
</html>


