
    <footer>
        <div class="container-fluid w-100 mt-3 fblanco">
            <div class="row w-100 m-0">
                <div class="col-6">
                    <div class="row">
                        <div class="col-12 d-flex flex-column justify-content-evenly align-items-center">
                            <p style="font-weight: bold;">Copyright Hermanas Greemwood</p>
                        </div>
                    </div>
                </div>
                <div class="col-6 d-flex flex-row justify-content-center align-items-center">
                    <a class="p-4" href="https://www.instagram.com/h.greemwood/"><i class="bi bi-instagram negro w-100"></i></a> 
                    <a href="https://twitter.com/HGreemwood"><i class="bi bi-twitter negro text-left"></i></a> 
                </div>
            </div>
        </div>
    </footer>
</div>
<script src="/JS/index.js"></script>


